# EDA and Cleaning USAID Data

In [65]:
# Importing libraries 
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [66]:
# Reading in USAID data
us_aid = pd.read_csv('./aid_data/usaid/us_foreign_aid_complete.csv')

### The USAID data set is similar to the World Bank and Chinese aid data sets in that it outlines US Aid activity at a project level. I decided to bring in the US aid as a method of comparison with Chinese aid.

In [67]:
# Looking at the data frame
us_aid.head()

,country_id,country_code,country_name,region_id,region_name,income_group_id,income_group_name,income_group_acronym,implementing_agency_id,implementing_agency_acronym,...,activity_start_date,activity_end_date,transaction_type_id,transaction_type_name,fiscal_year,current_amount,constant_amount,USG_sector_id,USG_sector_name,submission_id
0,4,AFG,Afghanistan,4,South and Central Asia,1.0,Low Income Country,LIC,7,DOD,...,NaN,NaN,2,Obligations,2011,9941000000,11172173522,3,Stabilization Operations and Security Sector R...,28
1,4,AFG,Afghanistan,4,South and Central Asia,1.0,Low Income Country,LIC,7,DOD,...,NaN,NaN,2,Obligations,2012,9243000000,10195234944,3,Stabilization Operations and Security Sector R...,28
2,4,AFG,Afghanistan,4,South and Central Asia,1.0,Low Income Country,LIC,7,DOD,...,NaN,NaN,3,Disbursements,2011,7840175215,8811165672,3,Stabilization Operations and Security Sector R...,28
3,4,AFG,Afghanistan,4,South and Central Asia,1.0,Low Income Country,LIC,7,DOD,...,NaN,NaN,3,Disbursements,2013,7764310985,8409304652,3,Stabilization Operations and Security Sector R...,28
4,4,AFG,Afghanistan,4,South and Central Asia,1.0,Low Income Country,LIC,7,DOD,...,NaN,NaN,2,Obligations,2013,6928000000,7503519983,3,Stabilization Operations and Security Sector R...,28

In [68]:
# Looking at the regions in the data 
us_aid['region_name'].unique()

array(['South and Central Asia', 'Middle East and North Africa',
       'Europe and Eurasia', 'East Asia and Oceania', 'World',
       'Western Hemisphere', 'Sub-Saharan Africa'], dtype=object)

In [69]:
# I am adding Turkey as seperate because it is under Europe in this data
turkey = us_aid[us_aid['country_name'] == 'Turkey']

In [70]:
# Including Middle East and North Africa in my data
us_aid1 = us_aid[us_aid['region_name'] == 'Middle East and North Africa']

In [71]:
# Including Sub-Saharan Africa in my data 
us_aid2 = us_aid[us_aid['region_name'] == 'Sub-Saharan Africa']

In [72]:
# Combining all of data frames
us_aid = pd.concat([us_aid1, us_aid2, turkey])

In [73]:
# Looking at the data types and null values 
us_aid.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 504737 entries, 13 to 1137950
Data columns (total 48 columns):
country_id                     504737 non-null int64
country_code                   504728 non-null object
country_name                   504737 non-null object
region_id                      504737 non-null int64
region_name                    504737 non-null object
income_group_id                453745 non-null float64
income_group_name              453745 non-null object
income_group_acronym           453745 non-null object
implementing_agency_id         504737 non-null int64
implementing_agency_acronym    504691 non-null object
implementing_agency_name       504737 non-null object
implementing_subagency_id      504737 non-null int64
subagency_acronym              461999 non-null object
subagency_name                 504737 non-null object
channel_category_id            504737 non-null int64
channel_category_name          504737 non-null object
channel_subcategory_id         504737 non-null int64
channel_subcategory_name       504737 non-null object
channel_id                     504737 non-null int64
channel_name                   504737 non-null object
dac_category_id                504737 non-null int64
dac_category_name              504737 non-null object
dac_sector_code                504737 non-null int64
dac_sector_name                504737 non-null object
dac_purpose_code               504737 non-null int64
dac_purpose_name               504737 non-null object
funding_account_id             504737 non-null object
funding_account_name           504737 non-null object
funding_agency_id              504737 non-null int64
funding_agency_name            504737 non-null object
funding_agency_acronym         504674 non-null object
assistance_category_id         504737 non-null int64
assistance_category_name       504737 non-null object
aid_type_group_id              504737 non-null int64
aid_type_group_name            504737 non-null object
activity_id                    504737 non-null int64
activity_name                  504737 non-null object
activity_project_number        330299 non-null object
activity_start_date            104881 non-null object
activity_end_date              108646 non-null object
transaction_type_id            504737 non-null int64
transaction_type_name          504737 non-null object
fiscal_year                    504737 non-null object
current_amount                 504737 non-null int64
constant_amount                504737 non-null int64
USG_sector_id                  504737 non-null int64
USG_sector_name                504737 non-null object
submission_id                  504737 non-null int64
dtypes: float64(1), int64(19), object(28)
memory usage: 188.7+ MB

In [74]:
# Looking at the counts by sector names
us_aid['dac_sector_name'].value_counts()

Emergency Response                                 57625
Government and Civil Society                       52139
HIV/AIDS                                           51306
Operating Expenses                                 44988
Basic Health                                       30599
Agriculture                                        29986
Developmental Food Aid/Food Security Assistance    28985
Administration and Oversight                       27848
Conflict, Peace, and Security                      26601
Maternal and Child Health, Family Planning         25744
Other Multisector                                  24808
Basic Education                                    17520
General Environmental Protection                   14441
Other Social Infrastructure and Services            9982
Water Supply and Sanitation                         9193
Business and Other Services                         7112
Energy                                              7023
Health, General                                     6838
Program Design and Learning                         6288
Trade Policy and Regulations                        4736
Industry                                            4187
Transport and Storage                               4163
Education, Level Unspecified                        2619
Banking and Financial Services                      2553
Post-Secondary Education                            1876
Disaster Prevention and Preparedness                1835
Communications                                       960
Mineral Resources and Mining                         940
Secondary Education                                  476
Other Commodity Assistance                           404
Construction                                         338
Reconstruction Relief and Rehabilitation             338
Unallocated/ Unspecified                             122
Tourism                                              115
General Budget Support                                46
Refugees in Donor Countries                            2
Action Relating To Debt                                1
Name: dac_sector_name, dtype: int64

In [75]:
# Looking at the values for this. Not a very useful column, so I will not keep it. 
us_aid['dac_purpose_name'].head()

13    Security system management and reform
19    Security system management and reform
20    Security system management and reform
22    Security system management and reform
26    Security system management and reform
Name: dac_purpose_name, dtype: object

In [76]:
# Looking at the values 
us_aid['funding_agency_name'].value_counts()

U.S. Agency for International Development    251685
Department of State                          122222
Department of Agriculture                     55258
Executive Office of the President             14122
Department of Defense                         13659
African Development Foundation                10503
Peace Corps                                   10104
Millennium Challenge Corporation               8982
Department of Health and Human Services        7389
Department of the Interior                     3225
Trade and Development Agency                   3200
Department of the Treasury                     1383
Department of Energy                           1331
Department of the Army                          472
Department of Labor                             310
Department of Justice                           276
Department of Commerce                          232
Department of Homeland Security                  83
Department of the Air Force                      65
Unknown - Historical Greenbook                   63
Environmental Protection Agency                  57
Department of Transportation                     44
Federal Trade Commission                         44
Department of the Navy                           26
National Aeronautics and Space Administra         2
Name: funding_agency_name, dtype: int64

In [77]:
# Saving the columns I want to save for modeling/analysis 
us_aid = us_aid[['country_name', 'activity_name', 'dac_sector_name', 'funding_agency_name', 'fiscal_year', 'constant_amount']]

In [78]:
# Looking at my new dataframe
us_aid.head()

,country_name,activity_name,dac_sector_name,funding_agency_name,fiscal_year,constant_amount
13,Iraq,Iraq Security Force Fund,"Conflict, Peace, and Security",Department of the Army,2006,6494175353
19,Iraq,Iraq Security Force Fund,"Conflict, Peace, and Security",Department of the Army,2008,5105263158
20,Iraq,Iraq Security Force Fund,"Conflict, Peace, and Security",Department of the Army,2007,4944490868
22,Iraq,Iraq Security Force Fund,"Conflict, Peace, and Security",Department of the Army,2007,4560217725
26,Iraq,Iraq Security Force Fund,"Conflict, Peace, and Security",Department of the Army,2008,4320019181

In [79]:
# Looking at the info to check for null values and data types
# No null value, but need to change fiscal year to numeric type
us_aid.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 504737 entries, 13 to 1137950
Data columns (total 6 columns):
country_name           504737 non-null object
activity_name          504737 non-null object
dac_sector_name        504737 non-null object
funding_agency_name    504737 non-null object
fiscal_year            504737 non-null object
constant_amount        504737 non-null int64
dtypes: int64(1), object(5)
memory usage: 27.0+ MB

In [80]:
# Changing fiscal year to a numeric data type 
us_aid['fiscal_year'] = pd.to_numeric(us_aid['fiscal_year'], errors='coerce')

In [81]:
# Checking to see if the numeric change took
us_aid.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 504737 entries, 13 to 1137950
Data columns (total 6 columns):
country_name           504737 non-null object
activity_name          504737 non-null object
dac_sector_name        504737 non-null object
funding_agency_name    504737 non-null object
fiscal_year            504573 non-null float64
constant_amount        504737 non-null int64
dtypes: float64(1), int64(1), object(4)
memory usage: 27.0+ MB

In [82]:
# Looking at the range of values, min, max, etc. 
us_aid['fiscal_year'].describe()

count    504573.000000
mean       2010.578081
std           7.279472
min        1946.000000
25%        2007.000000
50%        2012.000000
75%        2016.000000
max        2020.000000
Name: fiscal_year, dtype: float64

In [83]:
# Getting rid of any values before 2000
us_aid = us_aid[us_aid['fiscal_year'] >= 2000]

In [84]:
# Looking at my new range of values 
us_aid['fiscal_year'].describe()

count    486596.000000
mean       2011.463160
std           5.224882
min        2000.000000
25%        2007.000000
50%        2012.000000
75%        2016.000000
max        2020.000000
Name: fiscal_year, dtype: float64

In [85]:
# Removing values above 2014
us_aid = us_aid[us_aid['fiscal_year'] <= 2014]

In [86]:
# Looking at my new range of values
us_aid['fiscal_year'].describe()

count    320320.000000
mean       2008.500974
std           3.819316
min        2000.000000
25%        2005.000000
50%        2009.000000
75%        2012.000000
max        2014.000000
Name: fiscal_year, dtype: float64

In [87]:
# Looking at my new value counts
us_aid.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 320320 entries, 13 to 1134884
Data columns (total 6 columns):
country_name           320320 non-null object
activity_name          320320 non-null object
dac_sector_name        320320 non-null object
funding_agency_name    320320 non-null object
fiscal_year            320320 non-null float64
constant_amount        320320 non-null int64
dtypes: float64(1), int64(1), object(4)
memory usage: 17.1+ MB

In [88]:
# Looking at unique country names 
us_aid['country_name'].unique()

array(['Iraq', 'Israel', 'Egypt', 'Jordan', 'West Bank/Gaza',
       'Middle East and North Africa Region', 'Syria', 'Lebanon',
       'Morocco', 'Libya', 'Tunisia', 'Bahrain', 'Oman', 'Yemen',
       'Middle East Region', 'North Africa Region', 'Algeria',
       'United Arab Emirates', 'Qatar', 'Iran', 'Saudi Arabia', 'Kuwait',
       'Tanzania', 'Sub-Saharan Africa Region', 'Sudan (former)',
       'Senegal', 'Zambia', 'Somalia', 'Nigeria', 'South Sudan',
       'South Africa', 'Kenya', 'Mozambique', 'Uganda', 'Malawi', 'Mali',
       'Burkina Faso', 'Sudan', 'Botswana', 'Ghana', 'Ethiopia',
       'Liberia', 'Benin', 'Lesotho', 'Namibia', "Cote d'Ivoire", 'Chad',
       'Central African Republic', 'Cabo Verde', 'Rwanda',
       'Congo (Kinshasa)', 'Mauritania', 'Niger', 'Zimbabwe',
       'Madagascar', 'West Africa Region', 'Angola', 'Eswatini',
       'Burundi', 'Southern Africa Region', 'Cameroon', 'Djibouti',
       'Eastern Africa Region', 'Sierra Leone', 'Guinea', 'Eritrea',
       'Gambia', 'Guinea-Bissau', 'Congo (Brazzaville)', 'Togo',
       'Seychelles', 'Sao Tome and Principe', 'Gabon',
       'East and South Africa Region', 'Western (Spanish) Sahara',
       'Mauritius', 'Comoros', 'Equatorial Guinea',
       'Eastern and Central Africa Region',
       'British Indian Ocean Territory', 'Turkey'], dtype=object)

In [89]:
# Changing the names to be consistent 
us_aid.replace({'country_name' : {'West Bank/Gaza' : 'Palestine',
                    'Sudan (former)' : 'Sudan',
                    "Cote d'Ivoire" : "Cote D'Ivoire",
                    'Congo (Kinshasa)': 'Democratic Republic of Congo',
                    'Congo (Brazzaville)' : 'Congo',
                    'Eswatini' : 'Swaziland'
                    }}, inplace=True)

In [90]:
# Grouping by country names and amounts to make sums for each country
usaid_sums = us_aid.groupby('country_name')['constant_amount'].sum()

In [91]:
# Lookng at my new data
usaid_sums.head(5)

country_name
Algeria      247662135
Angola      2939892764
Bahrain      900204738
Benin       1785450859
Botswana    2141446815
Name: constant_amount, dtype: int64

In [92]:
# Saving my data to a data frame
usaid_sums = usaid_sums.to_frame()

In [93]:
# Renaming the column
usaid_sums.rename(columns={'constant_amount': 'usaid_totals'}, inplace=True)

In [94]:
# Saving my data frame to a csv
usaid_sums.to_csv('./aid_data/usaid/usaid_sums.csv', index=True)