# EDA and Cleaning World Bank Data

In [93]:
# Importing libraries 
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [94]:
# Reading in gdp per capita data 
gdp_pc14 = pd.read_csv('./aid_data/gdp/per_cap_gdp.csv')

I picked a few indicators from World Bank data. I chose resource rents per capita, since China has a national interest in Africa and the Middle East because of natural resources. I also got gdp per capita for 2000 and 2014 to compare to see how it changed from 2000 to 2014. I also got data on population to use that to divide the aid numbers by that to make per capita columns for Chinese, US, and World Bank aid. Additionally, since there is criticism that Chinese aid can bring more debt to developing countries, I pulled figures for total debt per capita for each country.

In [95]:
# Looking at my data frame 
gdp_pc14.head()

           Country Name         2014
0                Angola  3843.198241
1  United Arab Emirates  38495.04635
2               Burundi  245.3267387
3                 Benin  834.4435964
4          Burkina Faso  639.7080956

In [96]:
# Looking at my null values and data types 
gdp_pc14.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68 entries, 0 to 67
Data columns (total 2 columns):
Country Name    68 non-null object
2014            68 non-null object
dtypes: object(2)
memory usage: 1.2+ KB

In [97]:
# Changing the gdp per capita value to a numeric data type 
gdp_pc14['2014'] = pd.to_numeric(gdp_pc14['2014'], errors='coerce')

In [98]:
# Seeing how nulls and data types changed 
gdp_pc14.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68 entries, 0 to 67
Data columns (total 2 columns):
Country Name    68 non-null object
2014            67 non-null float64
dtypes: float64(1), object(1)
memory usage: 1.2+ KB

In [99]:
# Seeing which value is null 
gdp_pc14[gdp_pc14.isnull().any(axis=1)]

   Country Name  2014
14     Djibouti   NaN

In [100]:
# Did research to fill in null value 
gdp_pc14 = gdp_pc14.fillna(1595.15)

In [101]:
# Checking that I have no null values 
gdp_pc14.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68 entries, 0 to 67
Data columns (total 2 columns):
Country Name    68 non-null object
2014            68 non-null float64
dtypes: float64(1), object(1)
memory usage: 1.2+ KB

In [102]:
# Renaming the column to gdp per capita 
gdp_pc14 = gdp_pc14.rename(columns={'2014' : 'gdp_per_cap14'})

In [103]:
# Reading in 2000 gdp data 
gdp_pc00 = pd.read_csv('./aid_data/gdp/gdp_00.csv')

In [104]:
# Looking at my 2000 gdp data 
gdp_pc00.head()

           Country Name          2000
0                Angola    556.836318
1  United Arab Emirates  33291.419370
2               Burundi    136.463971
3                 Benin    374.192394
4          Burkina Faso    226.475981

In [105]:
# Looking at the null values and data types 
gdp_pc00.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68 entries, 0 to 67
Data columns (total 2 columns):
Country Name    68 non-null object
2000            68 non-null float64
dtypes: float64(1), object(1)
memory usage: 1.2+ KB

In [106]:
# Renaming the column to gdp per capita 
gdp_pc00 = gdp_pc00.rename(columns={'2000' : 'gdp_per_cap00'})

In [107]:
# Reading in my data about resource rents as proportion of gdp 
resources = pd.read_csv('./aid_data/gdp/resource_rents.csv')

In [108]:
# Looking at the data frame 
resources.head()

           Country Name       2014
0                Angola  23.381930
1  United Arab Emirates  24.249507
2               Burundi  17.033314
3                 Benin   4.872945
4          Burkina Faso  16.981603

In [109]:
# Looking at the data types and null values 
resources.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68 entries, 0 to 67
Data columns (total 2 columns):
Country Name    68 non-null object
2014            68 non-null float64
dtypes: float64(1), object(1)
memory usage: 1.2+ KB

In [110]:
# Renaming the column for resource rents 
resources = resources.rename(columns={'2014' : 'resource_rents'})

In [111]:
# Checking to see if the columns changed 
resources.head()

           Country Name  resource_rents
0                Angola       23.381930
1  United Arab Emirates       24.249507
2               Burundi       17.033314
3                 Benin        4.872945
4          Burkina Faso       16.981603

In [112]:
# Reading in population data 
population = pd.read_csv('./aid_data/gdp/population.csv')

In [113]:
# Looking at my data frame 
population.head()

           Country Name      2014
0                Angola  26941779
1  United Arab Emirates   9214175
2               Burundi   9844297
3                 Benin  10286842
4          Burkina Faso  17586017

In [114]:
# Looking at the null values and data types 
population.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68 entries, 0 to 67
Data columns (total 2 columns):
Country Name    68 non-null object
2014            68 non-null int64
dtypes: int64(1), object(1)
memory usage: 1.2+ KB

In [115]:
# Renaming the columns 
population = population.rename(columns={'2014' : 'population'})

In [116]:
# Reading in debt to gdp data 
debt_to_gdp = pd.read_csv('./aid_data/gdp/debt_to_gdp.csv', encoding='latin-1')

In [117]:
# Looking at my data frame 
debt_to_gdp.head()

    Country  debt_to_gdp
0   Algeria        7.673
1    Angola       40.676
2   Bahrain       44.397
3     Benin       30.452
4  Botswana       17.346

In [118]:
# Checking null values and data types 
debt_to_gdp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68 entries, 0 to 67
Data columns (total 2 columns):
Country        68 non-null object
debt_to_gdp    68 non-null float64
dtypes: float64(1), object(1)
memory usage: 1.2+ KB

In [119]:
# Renaming country column 
debt_to_gdp = debt_to_gdp.rename(columns={'Country' : 'Country Name'})

In [120]:
# Looking at unique country names 
debt_to_gdp['Country Name'].unique()

array(['Algeria', 'Angola', 'Bahrain', 'Benin', 'Botswana',
       'Burkina Faso', 'Burundi', 'Cabo Verde', 'Cameroon',
       'Central African Republic', 'Chad', 'Comoros',
       'Democratic Republic of the Congo', 'Republic of Congo',
       "Côte d'Ivoire", 'Djibouti', 'Egypt', 'Equatorial Guinea',
       'Eritrea', 'Ethiopia', 'Gabon', 'The Gambia', 'Ghana', 'Guinea',
       'Guinea-Bissau', 'Islamic Republic of Iran', 'Iraq', 'Israel',
       'Jordan', 'Kenya', 'Kuwait', 'Lebanon', 'Lesotho', 'Liberia',
       'Libya', 'Madagascar', 'Malawi', 'Mali', 'Mauritania', 'Mauritius',
       'Morocco', 'Mozambique', 'Namibia', 'Niger', 'Nigeria', 'Oman',
       'Qatar', 'Rwanda', 'São Tomé and Príncipe', 'Saudi Arabia',
       'Senegal', 'Sierra Leone', 'Somalia', 'South Africa',
       'South Sudan', 'Sudan', 'Swaziland', 'Syria', 'Tanzania', 'Togo',
       'Tunisia', 'Turkey', 'Uganda', 'United Arab Emirates', 'Yemen',
       'Zambia', 'Zimbabwe', 'Palestine'], dtype=object)

In [121]:
# Renaming countries for consistency 
debt_to_gdp.replace({'Country Name' : {"Côte d'Ivoire" : "Cote D'Ivoire",
                    'Democratic Republic of the Congo' : 'Democratic Republic of Congo',
                    'Eswatini' : 'Swaziland',
                    'Republic of Congo' : 'Congo',
                    'The Gambia' : 'Gambia',
                    'Islamic Republic of Iran' : 'Iran',
                    'São Tomé and Príncipe' : 'Sao Tome and Principe'                
                    }}, inplace=True)

In [122]:
# Looking at the unique country names 
debt_to_gdp['Country Name'].unique()

array(['Algeria', 'Angola', 'Bahrain', 'Benin', 'Botswana',
       'Burkina Faso', 'Burundi', 'Cabo Verde', 'Cameroon',
       'Central African Republic', 'Chad', 'Comoros',
       'Democratic Republic of Congo', 'Congo', "Cote D'Ivoire",
       'Djibouti', 'Egypt', 'Equatorial Guinea', 'Eritrea', 'Ethiopia',
       'Gabon', 'Gambia', 'Ghana', 'Guinea', 'Guinea-Bissau', 'Iran',
       'Iraq', 'Israel', 'Jordan', 'Kenya', 'Kuwait', 'Lebanon',
       'Lesotho', 'Liberia', 'Libya', 'Madagascar', 'Malawi', 'Mali',
       'Mauritania', 'Mauritius', 'Morocco', 'Mozambique', 'Namibia',
       'Niger', 'Nigeria', 'Oman', 'Qatar', 'Rwanda',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Sierra Leone',
       'Somalia', 'South Africa', 'South Sudan', 'Sudan', 'Swaziland',
       'Syria', 'Tanzania', 'Togo', 'Tunisia', 'Turkey', 'Uganda',
       'United Arab Emirates', 'Yemen', 'Zambia', 'Zimbabwe', 'Palestine'],
      dtype=object)

In [123]:
# Merging the population and gdp per capita data together 
wb_info = pd.merge(population, gdp_pc14, on=['Country Name'])

In [124]:
# Merging resources data with other world bank info 
wb_info = pd.merge(wb_info, resources, on=['Country Name'])

In [125]:
wb_info = pd.merge(wb_info, gdp_pc00, on=['Country Name'])

In [126]:
# Looking at the shape of my data frame 
wb_info.shape

(68, 5)

In [127]:
# Looking unique country names 
wb_info['Country Name'].unique()

array(['Angola', 'United Arab Emirates', 'Burundi', 'Benin',
       'Burkina Faso', 'Bahrain', 'Botswana', 'Central African Republic',
       "Cote d'Ivoire", 'Cameroon', 'Congo, Dem. Rep.', 'Congo, Rep.',
       'Comoros', 'Cabo Verde', 'Djibouti', 'Algeria', 'Egypt, Arab Rep.',
       'Eritrea', 'Ethiopia', 'Gabon', 'Ghana', 'Guinea', 'Gambia, The',
       'Guinea-Bissau', 'Equatorial Guinea', 'Iran, Islamic Rep.', 'Iraq',
       'Israel', 'Jordan', 'Kenya', 'Kuwait', 'Lebanon', 'Liberia',
       'Libya', 'Lesotho', 'Morocco', 'Madagascar', 'Mali', 'Mozambique',
       'Mauritania', 'Mauritius', 'Malawi', 'Namibia', 'Niger', 'Nigeria',
       'Oman', 'West Bank and Gaza', 'Qatar', 'Rwanda', 'Saudi Arabia',
       'Sudan', 'Senegal', 'Sierra Leone', 'Somalia', 'South Sudan',
       'Sao Tome and Principe', 'Eswatini', 'Syrian Arab Republic',
       'Chad', 'Togo', 'Tunisia', 'Turkey', 'Tanzania', 'Uganda',
       'Yemen, Rep.', 'South Africa', 'Zambia', 'Zimbabwe'], dtype=object)

In [128]:
# Changing the country names for consistency 
wb_info.replace({'Country Name' : {"Cote d'Ivoire" : "Cote D'Ivoire",
                    'Congo, Dem. Rep.' : 'Democratic Republic of Congo',
                    'Eswatini' : 'Swaziland',
                    'Congo, Rep.' : 'Congo',
                    'Gambia, The' : 'Gambia',
                    'Iran, Islamic Rep.' : 'Iran',
                    'Syrian Arab Republic': 'Syria',
                    'Egypt, Arab Rep.' : 'Egypt',
                    'West Bank and Gaza' : 'Palestine',
                    'Yemen, Rep.' : 'Yemen'}}, inplace=True)

In [129]:
# Merging debt to gdp data into data frame 
wb_info = pd.merge(wb_info, debt_to_gdp, on=['Country Name'], how='outer')

In [130]:
# Looking at my combined data frame 
wb_info.head()

,Country Name,population,gdp_per_cap14,resource_rents,gdp_per_cap00,debt_to_gdp
0,Angola,26941779,3843.198241,23.381930,556.836318,40.676
1,United Arab Emirates,9214175,38495.046350,24.249507,33291.419370,15.537
2,Burundi,9844297,245.326739,17.033314,136.463971,35.772
3,Benin,10286842,834.443596,4.872945,374.192394,30.452
4,Burkina Faso,17586017,639.708096,16.981603,226.475981,30.387

In [131]:
# Looking for null values and data types 
wb_info.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 68 entries, 0 to 67
Data columns (total 6 columns):
Country Name      68 non-null object
population        68 non-null int64
gdp_per_cap14     68 non-null float64
resource_rents    68 non-null float64
gdp_per_cap00     68 non-null float64
debt_to_gdp       68 non-null float64
dtypes: float64(4), int64(1), object(1)
memory usage: 3.7+ KB

In [132]:
# Renaming country column 
wb_info = wb_info.rename(columns={'Country Name' : 'country'})

In [133]:
# Looking at my data frame
wb_info.head()

,country,population,gdp_per_cap14,resource_rents,gdp_per_cap00,debt_to_gdp
0,Angola,26941779,3843.198241,23.381930,556.836318,40.676
1,United Arab Emirates,9214175,38495.046350,24.249507,33291.419370,15.537
2,Burundi,9844297,245.326739,17.033314,136.463971,35.772
3,Benin,10286842,834.443596,4.872945,374.192394,30.452
4,Burkina Faso,17586017,639.708096,16.981603,226.475981,30.387

In [134]:
# Saving my info to a csv
wb_info.to_csv('./aid_data/gdp/wb_info.csv', index=False)